body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.Calculator {
  width: 400px;
  height: 300px;
  position: relative;
  margin: 25px;
}

.Button {
  background: #6cc7be;
  display: flex;
  border: 1px solid black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: black;
  height: 20%;
  min-width: 25%;
}

.Button[data-size='2'] {
  height: 40%;
}

.Button[data-value='null'] {
  pointer-events: none;
}

.Button:hover {
  background: #d7ddd3;
  cursor: default;
}

.Display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #2b293d;
  height: 20%;
  color: white;
  font-size: 24px;
}

.Keypad {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80%;
}

@media only screen and (max-width: 650px) {
  .Calculator {
    width: 250px;
    margin: 15px; 
  }
}
